/sandbox/**
/.idea/**

/.git/**
/jars/**
/bundle/**
/.gradle/**
/vendor/**
/build/**

/examples/**/vendor/**
/examples/**/package-lock.php.yml

/package.hub.yml
/package-lock.php.yml
/gradle
/dn-sources/**
/out/**

*.iml